<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="msapplication-TileImage" content="https://cdn.sgf.wiki/images/favicon/mstile/144x144.png">
		<meta name="theme-color" content="#ffffff">
    <!-- Main meta tags -->
    <meta name="title" content="SGFwiki">
    <meta name="description" content="A free & socialist wiki.">
    <!-- Open Graph and Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sgf.wiki/">
    <meta property="og:title" content="SGFwiki">
    <meta property="og:description" content="A free & socialist wiki.">
    <meta property="og:image" content="https://cdn.sgf.wiki/images/logo/sgf.png">
    <!-- Twitter and Discord -->
    <meta property="twitter:card" content="summary_small_image">
    <meta property="twitter:url" content="https://sgf.wiki/">
    <meta property="twitter:title" content="SGFwiki">
    <meta property="twitter:description" content="A free & socialist wiki.">
    <meta property="twitter:image" content="https://cdn.sgf.wiki/images/logo/sgf.png">
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="https://cdn.sgf.wiki/images/favicon/apple-touch-icon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn.sgf.wiki/images/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://cdn.sgf.wiki/images/favicon/16x16.png">
    <link rel="manifest" href="https://cdn.sgf.wiki/images/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://cdn.sgf.wiki/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://cdn.sgf.wiki/images/favicon/favicon.ico">
    <!-- Title -->
    <title>SGFwiki &middot; A Free & Socialist Wiki</title>
    {% seo %}
    <!-- <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="https://sgf.wiki">{{ site.title }}</a></h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description }}</p>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
